# Node.js
**/node_modules

# Python
__pycache__
*.pyc

# Virtual Environment
.venv/
*.pyo

# Compiled files
*.com
*.class
*.dll
*.exe
*.o
*.so

# Logs and databases
*.log
*.sql
*.sqlite

# Editor-specific files
.idea/
*.sublime-project
*.sublime-workspace

# macOS system files
.DS_Store

# Local environment files
instance/
